@media screen and (min-width: 665px) {
  .main-section {
    display: grid;
    max-width: 110rem;
    grid-template-areas: 
    'supervisor builder'
    'karma calculator';
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: stretch;
    gap: 3.5rem;
  }
  .supervisor, .team-builder, .karma, .calculator {
    margin-bottom: 0;
  }
  .header h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .header h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

@media screen and (min-width:992px) {
  .container {
    padding: 4rem 3rem 6rem 3rem;
  }
  .main-section {
    grid-template-areas: 
    '. builder .'
    'supervisor builder calculator'
    'supervisor karma calculator'
    '. karma .';
  }
  %my-transition {
    transition: transform ease 700ms ;
    cursor: pointer;
  }
  .supervisor, .team-builder, .karma, .calculator {
    @extend %my-transition;
  }
  .supervisor:hover {
    transform: translateX(-15px);
  }
  .team-builder:hover {
    transform: translateY(-15px);
  }
  .karma:hover {
    transform: translateY(15px);
  }
  .calculator:hover {
    transform: translateX(15px);
  }
}